<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INTERNET permission is needed for Flutter debugging & network requests -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Declaring hardware features -->
    <uses-feature android:name="android.hardware.touchscreen"/>
    <uses-feature android:name="android.software.webview"/>

    <!-- Allow opening URLs -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
    </application>
</manifest>
